<header class="app-header navbar navbar-dark bg-dark">
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                <span class="navbar-toggler-icon"></span>
                </button>
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="#">
        <i class="fa fa-ticket fa-2x nav-item" aria-hidden="true" href="#"></i>
        <h3>My Ticket</h3>
    </a>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item pr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="organization">
                <span class="d-block text-center"><i class="fa fa-bullhorn fa-2x text-info"></i></span> Centro de organizacion
            </a>
        </li>
        <li class="nav-item pr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="help">
                <span class="d-block text-center"><i class="fa fa-question-circle fa-2x text-primary"></i></span> Ayuda
            </a>
        </li>
        <li class="nav-item pr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="wishes">
                <span class="d-block text-center"><i class="fa fa-heart fa-2x text-danger"></i></span> Lista de deseos
            </a>
        </li>
        <li class="nav-item pr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="account">
                <span class="d-block text-center"><i class="fa fa-user-circle-o fa-2x text-secondary"></i></span>Mi cuenta
            </a>
        </li>
        <li class="nav-item pr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="language">
                <span class="d-block text-center"><i class="fa fa-globe fa-2x text-primary"></i></span>Idioma
            </a>
        </li>
    </ul>