<div class="row">
    <div class="col-3">
        <div class="col-12">
            <div class="list-group list-group-accent">
                <div class="list-group-item list-group-item-accent-primary list-group-item-primary">A simple primary list group item</div>
                <div class="list-group-item list-group-item-accent-secondary list-group-item-secondary">A simple secondary list group item</div>
                <div class="list-group-item list-group-item-accent-success list-group-item-success">A simple success list group item</div>
                <div class="list-group-item list-group-item-accent-danger list-group-item-danger">A simple danger list group item</div>
                <div class="list-group-item list-group-item-accent-warning list-group-item-warning">A simple warning list group item</div>
                <div class="list-group-item list-group-item-accent-info list-group-item-info">A simple info list group item</div>
                <div class="list-group-item list-group-item-accent-light list-group-item-light">A simple light list group item</div>
                <div class="list-group-item list-group-item-accent-dark list-group-item-dark">A simple dark list group item</div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row m-lg-3">
            <div class="col-1 d-flex justify-content-end">
                <i class="fa fa-ticket fa-3x nav-item" aria-hidden="true" href="#"></i>
            </div>
            <div class="col-10">
                <h1>Lista de deseos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex justify-content-end">
                <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
            </div>
            <div class="col-6">
                <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                    tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                    que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger">Teatro La Plaza</a></p>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <a class="text-primary"><u><br/>Ver mas</u></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-columns ">
                            <div class="card bg-dark m-3 event animated fadeIn">
                                <img class="card-img-top thumbnail" src="../../../../assets/img/hamlet.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card bg-dark m-3 event animated fadeIn">
                                <img class="card-img-top thumbnail" src="../../../../assets/img/hamlet.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card bg-dark m-3 event animated fadeIn">
                                <img class="card-img-top thumbnail" src="../../../../assets/img/hamlet.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.This card has even longer content than the first to show that equal height action.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>

</div>


<div class="row">

    <div class="col-6">

    </div>
</div>